/* === Select2 DARK THEME === */

/* Main container */
.select2-container--default
.select2-selection--multiple {
    background-color: #000 !important;
    border: 1px solid #444 !important;
    min-height: 38px; /* match Bootstrap input height */
    padding: 4px 6px;
}

    /* Rendered selected values wrapper */
    .select2-container--default
    .select2-selection--multiple
    .select2-selection__rendered {
        background-color: #000 !important;
        color: #fff !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: flex !important;
        flex-wrap: wrap !important;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    /* Individual selected item (tag) */
    .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
        background-color: #222 !important;
        border: 1px solid #555 !important;
        color: #fff !important;
        margin-top: 4px;
    }

    /* Text inside selected item */
    .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__display {
        color: #fff !important;
    }

    /* Remove (x) button */
    .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove {
        color: #bbb !important;
    }

        .select2-container--default
        .select2-selection--multiple
        .select2-selection__choice__remove:hover {
            color: #fff !important;
        }


.select2-container--default .select2-selection--single {
    background-color: #000 !important;
    border: 1px solid #444 !important;
}

    /* Rendered selected values wrapper */
    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
        background-color: #000 !important;
        color: #fff !important;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    /* Individual selected item (tag) */
    .select2-container--default
    .select2-selection--single
    .select2-selection__choice {
        background-color: #222 !important;
        border: 1px solid #555 !important;
        color: #fff !important;
        margin-top: 4px;
    }

    /* Text inside selected item */
    .select2-container--default
    .select2-selection--single
    .select2-selection__choice__display {
        color: #fff !important;
    }

    /* Remove (x) button */
    .select2-container--default
    .select2-selection--single
    .select2-selection__choice__remove {
        color: #bbb !important;
    }

        .select2-container--default
        .select2-selection--single
        .select2-selection__choice__remove:hover {
            color: #fff !important;
        }


/* Search input inside select */
.select2-container--default
.select2-search--inline
.select2-search__field {
    background-color: #000 !important;
    color: #fff !important;
}

/* Dropdown container */
.select2-dropdown {
    background-color: #000 !important;
    border: 1px solid #444 !important;
}

/* Dropdown options */
.select2-results__option {
    background-color: #000 !important;
    color: #fff !important;
}

/* Hovered option */
.select2-results__option--highlighted {
    background-color: #333 !important;
    color: #fff !important;
}

.select2-selection__clear {
    color: #9ca3af;
}

    .select2-selection__clear:hover {
        color: #ffffff;
    }

/* Selected option in dropdown */
.select2-results__option--selected {
    background-color: #222 !important;
}

/* Disabled select */
.select2-container--default.select2-container--disabled
.select2-selection--multiple {
    background-color: #111 !important;
    color: #777 !important;
}

.select2-container--default
.select2-search--dropdown
.select2-search__field {
    background-color: #222 !important;
    color: white
}

.select2-container
.select2-selection--single
.select2-selection__rendered {
    display: inline;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.select-cell {
    width: 260px;
}

.select2-container {
    width: 100% !important;
}