.info-list {
    list-style: none;
    padding: 12px 12px;
    margin: 0;
    background-color: #1e1e1e;
    border: 3px solid #333;
    border-radius: 6px;
    color: #dcdcdc;
    /*make it feel non-interactive */
    /*user-select: none;*/
    cursor: default;
}

    .info-list li {
        line-height: 1.4;
    }

        /* subtle divider */
        .info-list li + li {
            border-top: 1px solid #2a2a2a;
        }
